body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: black;
}
noscript {
    color: white;
}
#appHeader {
    font-size: 120%;
    background-color: black;
    padding: 0.05%;
    color: white;
    text-align: center;
}
#appHeaderTitle {
    display: inline-flexbox;
    margin: 0;
    padding: 0;
}
#appHeaderMenu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
#filesMenu {
    background-color: white;
    width: 20%;
    height: 75vh;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}
#filesMenu button {
    width: 100%;
    font-size: 150%;
    margin: 0;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
}
#login {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
}
#login input {
    font-size: 100%;
}
#appMain {
    width: 100%;
    display: flex;
}
#appInput {
    width: 100%;
    font-size: 150%;
    border: 0;
}
footer h3 {
    text-align: center;
    margin: 0;
    background-color: black;
    color: white;
    padding: 0.5%;
    overflow: hidden;
}
a:link { text-decoration: underline; color: white;}
    
a:visited { text-decoration: underline; color: white;}

a:hover { text-decoration: underline; color: white;}

a:active { text-decoration: underline; color: white;}

